.photo-sm {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-top: 20px;
}

.photo-big {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 20px;
}

@media (min-width :576px) {
    .video {
        width: 100%;
        height: 400px;
        margin-top: 30px;
    }
    .card {
        margin-top: 30px;
    }
}

@media (min-width :767px) {
    .video {
        width: 100%;
        height: 600px;
        margin-top: 30px;
    }
    .card {
        margin-top: 30px;
    }
}

@media (min-width :991px) {
    .video {
        width: 100%;
        height: 1000px;
        margin-top: 30px;
    }
    .card {
        margin-top: 30px;
    }
}